body {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 100px;
}


.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

    
    .sidebar a {
        display: block;
        color: black;
        padding: 16px;
        text-decoration: none;
    }

        
        .sidebar a.active {
            background-color: #04AA6D;
            color: white;
        }

        
        .sidebar a:hover:not(.active) {
            background-color: #555;
            color: white;
        }


div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;

}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 20px;
    position: fixed;
    width: 100%;
    background-color: #f1f1f1;
    top: 0;
    z-index: 100;
}


.logo-name {
    display: flex;
    align-items: center;
    height: 100px;
}

    .logo-name h1 {
        margin-left: 10px;
    }


.login-button {
    border: none;
    padding: 10px 20px;
    background-color: #04AA6D;
    color: #fff;
    cursor: pointer;
    margin-right: 50px;
}


@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

        .sidebar a {
            float: left;
        }

    div.content {
        margin-left: 0;
    }
}


@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}


/* report Table*/

#reportTable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.60);
    width:100%;
}

    #reportTable thead tr {
        background-color: #04AA6D;
        color: #ffffff;
        text-align: mid;
    }

#reportTable th,
#reportTable td {
    padding: 12px 15px;
}

#reportTable tbody tr {
    border-bottom: 1px solid #dddddd;
}

    #reportTable tbody tr:nth-of-type(even) {
        background-color: #DEDEDE;
    }

    #reportTable tbody tr:last-of-type {
        border-bottom: 2px solid #009879;
    }

#reportTable tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

#reportTable table, th, td {
    border: 2.5px solid black;
}